body{
    margin:0 ; 
    padding: 0 ; 
    background-color: var(--body);
    color : var(--text);
    overflow-x : hidden;
    
}
:root{
    --primary : 	#F8C471 ;
    --body :   #1C2833  ;
    --text: #F2F4F4 ;
    --custom-gradient: linear-gradient(50deg, #D2B4DE  , #FAD7A0);
}
.DAC{
    font-size: 4em;
}
.left_top {
     display : flex; 
    justify-content: space-evenly;
     align-items: center;
     text-align: center;
     height: 100%; /* Make sure .left_top fills up the entire viewport height */

}
.card{
    display : flex;

}
.box_1{
display : flex;
flex-direction: column;
height : 200px;
flex-basis: 50%;
}
.box_1_title{
    display: flex;
    flex-basis : 20%;

   align-items: center;
   font-size: 2.5rem;

}
.box_1_summary{
    display: flex;
    flex-basis : 80%;
 
    font-size: 1.5rem;
}
.box_2{
    display : flex;
    flex-direction: column;
    height : 200px;
    flex-basis: 50%;

    }
.box_2_icon{
    display: flex;
    flex-basis : 80%;
    border : 2px solid red; 
    align-items: center;
    justify-content: center;
}
.box_2_create{
    display : flex; 
    flex-basis : 20%;
    border : 2px solid green;
    align-items: center;
    justify-content: center;
}
/* database management html  */

.sql_page {
    display : flex; 
    flex-direction: row;
}
.sql_commands{
    display : flex; 
    flex-direction: column;
    border : 2px solid gray;
    height : 100vh ; 
    flex-grow : 1; 
    align-items: center;
    justify-content:space-around;
    color:black;
    background-color : gainsboro;
    cursor:move;

}

.clipboard{
    display: flex;
    flex-basis: 80%;
    background-color: #D2B4DE;

}
.drag{
    display : flex; 
    justify-content: center;
    flex-basis : 20%;
    align-items: center;
    background-color : white;
}
.copy{
    display : flex; 
    flex-grow : 1;
    background-color : rebeccapurple;
}
.item{
    display: flex;
    width: 100%; /* Add this line to make sure it takes full width */
    height: 100%;
    align-items: center;
    justify-content: center;
}